
.trendsRow{
    width: 744px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px 0 20px 0;
    border: 1px solid #D9D9D9;
    &:hover{
        box-shadow:  0px 1px 2px 0px rgba(0, 0, 0, 0.30);
    }
    .trendsRowContainer{
        width: 100%;
        display: flex;
        align-items: center;
        margin: 16px;
        .index{
            width: 48px;
            height: 29px;
            border-radius: 14px 3px 14px 1px;
            margin-right: 16px;
            margin-left: 16px;
            .indexNumber{
                font-family: Inter;
                font-size: 20px;
                font-weight: 500;
                line-height: 28px;
                letter-spacing: 0em;
                text-align: center;
                color: white;
            }
        }
        .keyword{
            display: flex;
            flex-direction: column;
            height: 58px;
            .title{
                font-family: Inter;
                font-size: 24px;
                font-weight: 400;
                line-height: 32px;
                letter-spacing: 0em;
                text-align: left;
            }
            .searchCount{
                font-family: Inter;
                font-size: 14px;
                font-weight: 400;
                line-height: 22px;
                letter-spacing: 0.25px;
                color: #9B9B9B;
            }
        }
        .searchContinued{
            width: 132px;
            border-radius: 8px;
            padding: 10px 16px 10px 16px;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: #E2DFFF;
            margin-right: 16px;
        }
        .arrow{
            height: 32px;
            width: 32px;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-right: 16px;
        }
    }
    .collapse-container{
        width: 112.5%;
        transition: 0.4s max-height;
        overflow: hidden;
        .collapse-content{
            width: 100%;
            display: flex;
            justify-content: center;
            flex-direction: column;
            .divider{
                border-top: 1px solid #dbdbdb;
                width: 744px;
                margin-left: 46px;
            }
            .newsHeader{
                margin-top: 32px;
                margin-left: 66px;
                margin-right: 66px;
                display: flex;
                .a{
                    font-family: Inter;
                    font-size: 16px;
                    font-weight: 500;
                    line-height: 24px;
                    letter-spacing: 0.15000000596046448px;
                    text-align: left;
                }
                .b{
                    font-family: Inter;
                    font-size: 16px;
                    font-weight: 500;
                    line-height: 24px;
                    letter-spacing: 0.15000000596046448px;
                    text-align: left;
                    color: #5552B5;
                    margin-left: auto;
                }


            }
            .carousel{
                display: flex;
                align-items: center;
                .buttonLeft{
                    height: 48px;
                    width: 48px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    background: none;
                    margin-left: 5px;
                    cursor: pointer;
                    z-index: 2;
                    transform: translateX(20px);
                    .buttonInside{
                        height: 40px;
                        width: 40px;
                        box-shadow: 0px 1px 3px 0px #0000004D;
                        box-shadow: 0px 4px 8px 3px #00000026;
                        border-radius: 8px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        background-color: white;
                    }
                }
                .buttonRight{
                    height: 48px;
                    width: 48px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    background: none;
                    cursor: pointer;
                    margin-right: 5px;
                    z-index: 2;
                    transform: translateX(-20px);
                    .buttonInside{
                        height: 40px;
                        width: 40px;
                        box-shadow: 0px 1px 3px 0px #0000004D;
                        box-shadow: 0px 4px 8px 3px #00000026;
                        border-radius: 8px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        background-color: white;
                    }
                }
                .newsContainer{
                    width: 100%;
                    display: flex;
                    align-items: center;
                    overflow: hidden;
                    margin-top: 20px;
                    margin-bottom: 32px;
                    margin-left: 16px;
                    .newsList{
                        display: flex;
                        gap: 16px;
                        .newsItems{
                            width: 300px;
                            height: 100px;
                            display: flex;
                            background-color: #EDEDED;
                            border-radius: 8px;
                            padding: 16px;
                            gap: 12px;
                            img{
                                border-radius: 8px;
                            }
                            .titleNews{
                                flex: 1;
                                display: flex;
                                flex-direction: column;
                                box-sizing: border-box;
                                gap: 8px;
                                .title{
                                    font-family: 'Inter', sans-serif;
                                    font-size: 14px;
                                    font-weight: 400;
                                    line-height: 22px;
                                    letter-spacing: 0.25px;
                                    text-align: left;
                                    
                                }
                                .source{
                                    color: #5A5A5A;
                                    width: 100%;
                                    overflow: hidden;
                                    text-overflow: ellipsis;
                                    .sourceNews{
                                        font-size: 11px;
                                        line-height: 16px;
                                        font-family: Inter;
                                        font-weight: 400;
                                        letter-spacing: 0.15000000596046448px;
                                    }
                                    .sourceTime{
                                        font-family: Inter;
                                        font-size: 11px;
                                        font-weight: 400;
                                        line-height: 16px;
                                        letter-spacing: 0.15000000596046448px;
                                    }
                                }
                            }
                        }
                    }
                }
            }
            
            .connection{
                .text{
                    margin-top: 32px;
                    margin-left: 66px;
                    font-family: Inter;
                    font-size: 16px;
                    font-weight: 500;
                    line-height: 24px;
                    letter-spacing: 0.15000000596046448px;
                    text-align: left;
                }
                .relativeKeys{
                    display: flex;
                    height: 100%;
                    flex-wrap: wrap;
                    padding-left: 56px;
                    padding-bottom: 30px;
                    padding-top: 16px;
                    .relativeKey{
                        padding: 8px;
                        border: 1px solid rgb(207, 207, 207);
                        border-radius: 8px;
                        margin: 8px;
                        font-family: Inter;
                        font-size: 14px;
                        font-weight: 400;
                        line-height: 22px;
                        letter-spacing: 0.15000000596046448px;
                    }
                }
            }
        }
    }
}